.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 68%;
    width: 95%;
}

.form__input {
    height: 3.3em;
    width: 90%;
    border-radius: 7px;
    padding: 0 1em 0 1em;
    border-width: 1px;
    border-color: #D2DCE8;
    color: #697B95;
}

.form__select {
    width: 99%;
}


.form__submit-btn {
    height: 4em;
    width: 85%;
    background-color: lightgreen;
    border-radius: 7px;
    border: 1px solid rgb(128, 209, 128);
    color: white;
    font-weight: bold;
}