.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 68%;
    width: 95%;
}

.form__input {
    height: 3.3em;
    width: 90%;
    border-radius: 7px;
    padding: 0 1em 0 1em;
    border-width: 1px;
    border-color: #D2DCE8;
    color: #697B95;
}

.form__select {
    width: 99%;
}

.form__submit-btn {
    height: 4em;
    width: 85%;
    background-color: lightgreen;
    border-radius: 7px;
    border: 1px solid rgb(128, 209, 128);
    color: white;
    font-weight: bold;
}

@media (min-width: 700px){
    .form{
        width: 50%;
        
    }

    .form__input{
        width: 44%;
    }

    .form__select{
        width: 48%;
    }

    .form__submit-btn{
        width: 35%;
        
    }

    .form__input__wrapper {
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}