.heading {
    font-size: 1.5em;
    font-weight: bold;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 100vw;
}

.divider {
    width: 50%;
    border-bottom: 2px grey dotted;
}

.card__wrapper {
    height: auto;
}

.form__wrapper {
    height: 90vh;
    justify-content: space-evenly;
}

.gallery{
    height: 33vh;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.gallery__image{
    height: 100%;
    border-radius: 0.4em;
    margin-right: 1em;
}